@import 'mixins';

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

* + * {
    margin-top: 1rem;
}

a:active,
a:hover {
  outline: 1px solid rgba(255,255,0,0.5);
}
.hidden,
.invisible,
.visually-hidden,
[hidden],
[style*="display:none"],
[style*="display: none"] {
    margin-top: 0;
}

html {
    font-size: 87.5%;
}

@media (min-width: 400px) {
    html {
        font-size: 100%;
    }
}

body {
    font-family: 'Avenir', sans-serif;
    font-size: 1.25rem;
    line-height: 1;
    background: white;
    color: black;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
    font-family: 'Avenir', sans-serif;
    font-weight: 700;
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.5rem;
}

h4, .h4, h5, h6 {
    font-size: 1.25rem;
}

@media (max-width: 600px) {
    h1, .h1 {
        font-size: 2.0rem;
    }

    h2, .h2 {
        font-size: 1.75rem;
    }
}

p {
    line-height: 1.5;
}
.small {
    font-size: 1.0rem;
}

figcaption * {
    margin: 0;
}

/* Media */

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

iframe {
    display: block;
    //width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
* + iframe {
    margin-top: 1.5rem;
}

.thumb {
    display: inline;
    vertical-align: middle;
    width: 60px;
    margin-right: 0.5rem;
}

a {
    display: inline-block;
    transition: all 0.3s ease;
    color: inherit;
    text-decoration: none;
    outline: 3px solid rgba(255,255,0,0.0);

    p:not(.col) & {
        text-decoration: underline;
        & + a {
            margin-top: 0;
        }
    }

    &:hover,
    &:focus {
        background-color: rgba(255,255,0,0.5);
        outline: 3px solid rgba(255,255,0,0.5);
    }
    &.no-hover:hover,
    .no-hover &:hover,
    &.no-hover:focus,
    .no-hover &:focus {
        background-color: transparent;
        outline: 3px solid rgba(255,255,0,0.0);
    }
}

/* Scaffolding */

.mini-page {
      margin: 0;
      padding: 1.5rem;
      &.illustrated {
        padding: 0;
        img {
           width: 100%;
        }
      }
      &.double-white-space{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    &.double-white-space-bottom{
        padding-bottom: 3rem;
    }
}
@media (min-width: 1008px) {
    .mini-page {
        padding: 1.5rem calc(50% - 480px);
    }
}

.mini-page.wide {
    padding: 1.5rem;
}
.mini-page.scrollable-x {
    overflow-x: auto;
}

.site-header {
    padding-bottom: 0;
    .cols {
        margin-bottom: 0;
        .col {
            padding-bottom: 0;
        }
    }
    a {
        @include grow();
    }
}

.site-header.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    background: white;
}

.site-logo {
    position: relative;
    max-height: 3rem;
    margin-bottom: -1px;
}

.page-header {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
    @media only screen and (max-width: 800px) {
        padding-top: 0.5rem;
        padding-bottom: 0.4rem;
       .name,
        .sub {
            display: none;
        }
    }

}

.video-container {
    // create a 16/9 ratio for the video
    padding-bottom: 56.25%; // 9 / 16 * 100%
    position: relative;
    height: 0;
    overflow: hidden;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.video-container p {
    padding-bottom: 1.2rem;
}

footer {
    padding-bottom: 40px;
}

.dark {
    background: black;
    color: white;
}
.light {
    background: white;
    color: black;
}
.medium {
    background: rgba(0,0,0,0.8);
    //background: #80211f;
    color: white;
}

/* Columns */

[class*="cols"] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: -1.5rem;
    margin-right: -1.5rem;
    padding: 0;
    list-style: none;
}

* + [class*="cols"] {
    margin-top: 1.5rem;
}

.col {
    display: block;
    width: 100%;
    margin: 0;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
    @media screen and (min-width: 800px) {
        &.readable {
            width: 80%;
        }
    }

    [class*="cols"] {
        align-items: center;
        margin-bottom: -1rem;
        margin-right: -1rem;
    }
    .col {
        text-align: left;
        padding-bottom: 1rem;
        padding-right: 1rem;

        * {
            margin-top: 0;
        }
    }
}

.cols-auto {
    justify-content: space-between;
    align-items: center;
    & > .col {
        width: auto;
    }
}

.cols-fixed {
    flex-wrap: nowrap;
    & > .col {
        flex: 1 0 28.5%;
        min-width: 300px;
        max-width: 100%;
    }
}

.cols-variable > .col {
    flex: 1 0 25%;
    min-width: 220px;
    max-width: 100%;
}

.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

.compact * {
    margin: 0;
}

.text-center {
    text-align: center;
}

// NAV
nav {
    [class^="icon-"], [class*=" icon-"] {
        vertical-align: middle;
        font-size: 1.5rem;
    }
    .icon-chevron-left {
        margin-right: 1rem;
    }
    .icon-chevron-right {
        margin-left: 1rem;
    }
    a {
        [class^="icon-"], [class*=" icon-"] {
            display: inline-block;
            transition: transform 0.3s ease;
        }
        &:hover,
        &:focus {
            [class^="icon-"], [class*=" icon-"] {
                transform: scale(1.5) rotate(0.1deg);
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .site-header {
        width: 100%;
    }
    .site-header nav {
        position: relative;
        height: 3rem;
        width:100vw !important;
        margin: 0 0 0 -1.5rem;
        padding: 0 1.5rem;
        // background-color: rgba(0,0,0,0.8);
        // color: white;
        ul {
            height: 3rem;
            overflow: hidden;
            margin: 0 !important;
            li {
                padding-right: 0 !important;
            }
        }
    }
}

// HEADER
.person {
    display: block;
    * { transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); }
    img {
        display: inline-block;
        margin-bottom: 1.0rem;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    }
    a:hover img,
    a:focus img {
        -ms-transform:scale(1.05) rotate(-0.1deg);
        -moz-transform:scale(1.05) rotate(-0.1deg);
        -webkit-transform:scale(1.05) rotate(-0.1deg);
        transform:scale(1.05) rotate(-0.1deg);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.25);
    }
}




