@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin grow() {
  -ms-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); 
  -moz-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); 
  -webkit-transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); 
  transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1); 
  &:hover {
    -ms-transform:scale(1.05) rotate(-0.1deg);
    -moz-transform:scale(1.05) rotate(-0.1deg);
    -webkit-transform:scale(1.05) rotate(-0.1deg);
    transform:scale(1.05) rotate(-0.1deg);
  }
}