// =========
// global reset

* {
  box-sizing:border-box;
}

html,
body {
  margin:0;
  padding:0;
  width:100%;
  height:100%;
}
body {
  font-family: "ff-tisa-sans-web-pro",sans-serif;
  font-weight:normal;
  color:#222;
}
h1 {
  font-family: "quatro-slab",serif;
  font-weight:700;
  font-size:2.4em;
}
h2 {
  font-family: "quatro-slab",serif;
  font-weight:700;
  font-size:2.0em;
}
h3 {
  font-family: "quatro-slab",serif;
  font-weight:400;
  font-size:1.8em;
}
h4 {
  font-family: "quatro-slab",serif;
  font-weight:400;
  font-size:1.4em;
}
button {
  border: none;
}