#nav {
  list-style:none;
  li {
    position:absolute;
    left:50%;
    opacity:1;
    pointer-events:auto;
    @include translate(-50%,0);
    margin:0;
    background-color:rgba(255,255,255,0.5);
    @include transition(all 0.5s ease);
    &#nav-0 {
      top:0.5em;
    }
    &#nav-1 {
      top:100%;
      margin-top:-7.5em;
    }
    &#nav-2 {
      top:100%;
      margin-top:-3.75em;
    }

  }
  &.selected-2 {
    li#nav-1 {
      top:4.25em;
      margin-top:0;
    }
  }

  .current {
    //opacity:0;
    //pointer-events:none;
    display:none;
  }
  a {
    display:block;
    white-space: nowrap;
    color:#222;
    min-width:15em;
    padding:1em;
    text-align:center;
    border:1px solid #222;
  }
}