  .player {
    position: absolute;
    top: 50px;
    width: 50vw;
    left: 10px;
    .button-play-pause {
      display: inline-block;
      @include round-btn(50px);
      -webkit-appearance: none;
      border: none;
      background: #F00;
      cursor: pointer;
      &:after {
        content: '►';
        font-size: 30px;
        text-indent: 5px;
        text-align: center;
        display: inline-block;
        width: 100%;
      }
    }
    &.playing .button-play-pause:after {
      content: '◼︎';
      text-indent: 0;
      font-size: 35px;
      vertical-align: bottom;
      margin-top: 2px;
    }
  }