// ========= MIXINS
@mixin translate($x, $y){
  -ms-transform: translate($x,$y); /* IE 9 */
  -webkit-transform: translate($x,$y); /* Chrome, Safari, Opera */
  transform: translate($x,$y);
}

@mixin transition($params) {
  -webkit-transition: $params;
  -moz-transition: $params;
  -o-transition: $params;
  transition: $params;
}

@mixin round-btn($size){
  width: $size;
  height: $size;
  border-radius: $size;
}

.abs-centered {
  position:absolute;
  z-index:1;
  top:50%;
  left:50%;
  @include translate(-50%, -50%);
}

.horizontal-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
  vertical-align: top;
  .scroll-item {
    position: relative;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
  }
}

.hidden {
  display: none;
}