* {
	box-sizing:border-box;
}
html,
body {
    margin:0;
    padding:0;
	background-color:#fff;
}
body {
    position:relative;
    font-family: "merriweather", serif;
    font-weight:100;
    color:#40433b;
    background: #fff; /* url(/static/images/bg-main.jpg) 50% 50% no-repeat;*/
    background-size: cover;
}
.font-default {
    font-family: "merriweather", serif;
}
.font-special {
    font-family: "open-sans",sans-serif;
}
.screen-reader-text { 
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.pull-left {
    float:left;
}
.pull-right {
    float:right;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

header {
    position: relative;
    height: 4em;
    padding:1em 1em 0 1em;
    background-color: #fff;
}
.logo {
    display: inline-block;
    height: 3em;
}
.logo img {
    height: 100%;
    width: auto; 
}
ul.top-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 1em;
    bottom: 0.5em;
}
.top-nav li {
    list-style: none;
    display:inline-block;
}
.top-nav li + li {
    margin-left: 1em;
}

.top-nav a {
    color: #40433b;
    text-decoration: none;
    font-family: "open-sans",sans-serif;
    font-size: 0.825em;
    font-weight:500;
    text-transform: uppercase;
}
.top-nav a:hover {
    text-decoration: underline;
}

.nav-pages {
    position: relative;
    height: 5em;
    padding: 0;
}
.hdr-person-page {
    position: absolute;
    left: 50%;
    top: 0;
    color: #fff;
    margin: 0 0 0 -2.5em;
    padding: 0;
    height: 5.0em;
    width: auto;
    border-radius: 5em;
}
.nav-pages h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 0 0 1.25em;
    color: #fff;
    transform: translateY(-50%);
}
.nav-pages a {
    font-size: 1.0em;
    display: block;
    color: #fff;
    text-decoration: none;
    position: absolute;
    font-family: "open-sans", sans-serif;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
a.page-left {
    left: 1.0em;
}
a.page-right {
    right: 1.0em;
}
.nav-pages a span {
    display: inline-block;
    margin-top: -0.2em;
}
.page-left span {
    margin-right: 0.2em;
}
.page-right span {
    margin-left: 0.2em;
}

h1, h2, h3, h4 {
    font-family: "open-sans",sans-serif;
    font-weight:700;
}
h1 {
    font-size:2.4em;
}
h2 {
    font-size:2.0em;
}
h3 {
    font-size:1.8em;
}
h4 {
    font-size:1.4em;
}

.dark {
    background-color: #40433b;
}
.extra-dark {
    background-color: #000;
}
.centered {
    text-align:center;
}
.limited-col {
    max-width:960px;
    margin:0 auto;
}
.centered p,
.limited-col p {
    max-width:853px;
    line-height:1.5;
}
.left-aligned {
    max-width: 853px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.centered p,
.centered ul {
    margin-left:auto;
    margin-right:auto;
     text-align: justify;
    text-justify: inter-word;
}
.centered ul {
    max-width:853px;
    text-align:left;
    list-style: none;
    margin-left:auto;
    margin-right:auto;
    padding-left:0;
    padding-right:0;
}
.centered li {
    padding-left:40px;
    position:relative;
}

.centered li:before {
    font-family:'icomoon';
    content: "\f08e";
    position:absolute;
    left:5px;
    top:0.5em;
}
.centered li + li {
    margin-top:20px;
}
.centered li a {
    display:inline-block;
    color: #40433b;
    font-family: "open-sans", sans-serif;
    font-size: 1.3em;
    font-weight: 700;
    text-decoration:none;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.centered li a.inline-link {
    font-size:1.0em;
}
.centered li p {
    text-align:left;
    margin:0;
    padding:0;
}
.inline-link {
    color:#000;
    text-decoration:none;
    border-bottom:1px solid rgba(0,0,0,0.25);
}
.inline-link-inverted {
    color: #fff;
    text-decoration: none;
    border-bottom:1px solid rgba(255,255,255,0.5);
}
.humans {
    width:100%;
    text-align:center;
    vertical-align:top;
    padding: 2em 0 0 0;
    background-color: #40433b;
}
.human {
    position:relative;
    display:inline-block;
    margin:0 3% 2em 3%;
    width:25%;
    min-width:240px;
    cursor:pointer;
}
.human * {
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
}
h2 .small {
    display:block;
    font-family: "merriweather", serif;
    font-size:50%;
    font-weight: 300;
}
.human img {
    width:100%;
    border-radius:50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.human.small img {
    
}
.human a {
    color:#fff;
    text-decoration:none;
}
.human a:hover img,
.human a:focus img {
    -ms-transform:scale(1.05) rotate(-0.1deg);
    -moz-transform:scale(1.05) rotate(-0.1deg);
    -webkit-transform:scale(1.05) rotate(-0.1deg);
    transform:scale(1.05) rotate(-0.1deg);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2)
}
.human h2 {
    margin:0;
    line-height:1.5;
}
.small h1 {
    font-size:1.8em;
    margin:0;
    padding:0;
}

/* Youtube player */
.ytplayerbox {
    max-width:853px;
    margin:0 auto;
    font-family: "open-sans",sans-serif;
}
.ytplayerbox h1,
.ytplayerbox h2,
.ytplayerbox h3,
.ytplayerbox h4 {
    font-family: "open-sans",sans-serif;
}
.ytplayerbox h3 {
    font-size:1.2em;
    padding:1em 0;
    margin:0;
}
.ytplayerbox h4 {
    font-size:1em;
    font-weight:300;
    color: #fff;
    color: rgba(255,255,255,0.8);
    padding: 0;
    margin: 0;
}

.ytplayerbox .video-container {
    z-index:2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#no-movie {
    position:relative;
    z-index:4;
}

.ytcontrols {
    position:relative;
    min-height:3.5em;
}
.ytcontrols p {
    position:relative;
    z-index:1;
    margin:0;
    padding:1em 0;
    background:#000;
}
.ytcontrols em {
    font-size:90%;
    color:#efefef;
}

#controls-panel {
    transition: all 0.66s cubic-bezier(0.63,0,0.55,1.43);
    position:relative;
    z-index:0;
    margin-top:-15em;
    background:#000;
}
#controls-panel.show {
    margin-top:0;
}

.ytplayerbuttons {
    width:100%;
    padding:1em 0;
    clear:both;
}

.ytplayerbuttons button {
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    text-indent:-9999em;
    display: inline-block;
    position:relative;
    -webkit-appearance: none;
    vertical-align:top;
    border: none;
    margin:0.2em;
    padding:0.2em;
    cursor: pointer;
    opacity:0.8;
    width:4em;
    height:4em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:5em;
    background-color:#fff;
    opacity:0.8;
}
.ytplayerbuttons button.icon-btn:before {
    font-size:2em;
}
.ytplayerbuttons button:hover,
.ytplayerbuttons button:focus {
     -ms-transform:scale(1.1) rotate(0.1deg);
    -moz-transform:scale(1.1) rotate(0.1deg);
    -webkit-transform:scale(1.1) rotate(0.1deg);
    transform:scale(1.1) rotate(0.1deg);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media all and (max-width: 900px) {
    .human,
    .empty-circle {
        margin:0 2.5% 2em 2.5%;
        min-width:200px;
        min-height:200px;
    }
    .human.small {
        min-height:0;
    }
}


@media all and (max-width: 873px) {
    .bottom-room {
        padding-bottom:20px;
    }
    .centered p,
    .limited-col p {
        padding:0 1em;
    }
    .centered li {
        padding-right: 1em;
    }
    .ytcontrols {   
        min-height:1.5em;
    }
    .ytcontrols p {
        padding: 1em;
    }
    .left-aligned {
        padding-left: 40px;
    }
}

@media all and (max-width: 600px) {
    header {
        height: 4.5em;
        padding-top:1em;
    }
    .logo {
        height:1.5em;
    }
    ul.top-nav {
        left: 1em;
    }
    ul.top-nav a {
        font-size: 0.65em;
    }
    .nav-pages {
        position: relative;
        height: 3.2em;
        padding: 0;
    }
    .hdr-person-page {
        margin: 0 0 0 -1.6em;
        height: 3.2em;
    }
    .nav-pages h1 {
        display: none;
    }
    .nav-pages a {
        font-size: 0.825em;
    }
    .nav-pages a span {
        margin-top: -0.1em;
    }
    h1 {
        font-size:2.0em;
    }
    h2 {
        font-size:1.8em;
    }
    h3 {
        font-size:1.6em;
    }
    .decorated {
        padding:0.5em;
    }
    .human.small {
        margin-top:-0.5em;
    }
    .ytcontrols {
        position:absolute;
        top:-9999em;
    }
    #controls-panel {
        margin-top:-20em;
    }
}

@media all and (min-width: 601px) {
    .decorated:before {
        position:absolute;
        opacity:0.5;
        top:50%;
        right:65%;
        content:"";
        height:1px;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 90%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(40%,rgba(255,255,255,1)), color-stop(90%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 40%,rgba(255,255,255,1) 90%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        width:35%;
    }
    .decorated:after {
        position:absolute;
        opacity:0.5;
        top:50%;
        left:65%;
        content:"";
        height:1px;
        background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 60%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(10%,rgba(255,255,255,1)), color-stop(60%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 10%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
        width:35%;
    }
    .decorated-content {
        display:inline-block;
        position:relative;
        z-index:1;
        padding:0;
        line-height:1;
        padding:0 0.5em;
    }
}