*, *:before, *:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

* + * {
    margin-top: 1rem;
}

.hidden,
.invisible,
.visually-hidden,
[hidden],
[style*="display:none"],
[style*="display: none"] {
    margin-top: 0;
}

html {
    font-size: 87.5%;
}

@media (min-width: 400px) {
    html {
        font-size: 100%;
    }
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    line-height: 1;
    background: white;
    color: #40433b;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4 {
    font-family: 'Merriweather Sans';
}

h1, .h1 {
    font-size: 2.5rem;
}

h2, .h2 {
    font-size: 1.75rem;
}

h3, .h3 {
    font-size: 1.25rem;
}

h4, .h4, h5, h6 {
    font-size: 1rem;
}

p {
    line-height: 1.5;
}

figcaption * {
    margin: 0;
}

/* Media */

img {
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

iframe {
    display: block;
    //width: 100%;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
* + iframe {
    margin-top: 1.5rem;
}

.thumb {
    display: inline;
    vertical-align: middle;
    width: 60px;
    margin-right: 0.5rem;
}

a {
    color: inherit;
    text-decoration: none;
}

/* Scaffolding */

.mini-page {
      margin: 0;
      padding: 1.5rem;
}
@media (min-width: 1008px) {
    .mini-page {
        padding: 1.5rem calc(50% - 480px);
    }
}

.mini-page.wide {
    padding: 1.5rem;
}
.mini-page.scrollable-x {
    overflow-x: auto;
}

.site-header {
    padding-bottom: 0;
}

.site-header.fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
    background: white;
}

.site-logo {
    position: relative;
    max-height: 3rem;
    @media only screen and (max-width: 600px) {
        max-height: 1.5rem;
    }
}

.page-header {
    padding-top: 1rem;
    padding-bottom: 0.8rem;
}

.video-container {
    margin: 0;
    padding: 0 0 1.5rem 0;
    background: black;
    color: white;
}

footer {
    padding-bottom: 40px;
}

.dark {
    background: #40433b;
    color: white;
}

.light {
    background: white;
    color: black;
}

/* Columns */

[class*="cols"] {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: -1.5rem;
    margin-right: -1.5rem;
    padding: 0;
    list-style: none;
}

* + [class*="cols"] {
    margin-top: 1.5rem;
}

.col {
    width: 100%;
    margin: 0;
    padding-bottom: 1.5rem;
    padding-right: 1.5rem;
}

.col [class*="cols"] {
    align-items: center;
    margin-bottom: -1rem;
    margin-right: -1rem;
}
.col .col {
    text-align: left;
    padding-bottom: 1rem;
    padding-right: 1rem;
}
.col .col * {
    margin-top: 0;
}

.cols-auto {
    justify-content: space-between;
    align-items: center;
}
.cols-auto > .col {
    width: auto;
}

.cols-fixed {
    flex-wrap: nowrap;
    overflow: hidden;
}
.cols-fixed > .col {
    flex: 1 0 25%;
    min-width: 300px;
    max-width: 100%;
}

.cols-variable > .col {
    flex: 1 0 25%;
    min-width: 220px;
    max-width: 100%;
}

.order-1 {
    order: 1;
}
.order-2 {
    order: 2;
}
.order-3 {
    order: 3;
}

.round {
    border-radius: 50%;
    overflow: hidden;
}

.compact * {
    margin: 0;
}

.text-center {
    text-align: center;
}
.text-justify {
    text-align: justify;
    text-justify: inter-word;
}

/* Youtube player */
.video {
    background: #000;
    margin: 0;
    padding: 0;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0; 
    height: 0; 
    overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 0;
}
.ytplayerbox {
    max-width: 853px;
    margin: 0 auto;
}
#yt-poster {
    display: block;
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    top:-99999rem;
    left:-99999rem;
    background: #f00 none 50% 50% no-repeat;
    background-size: cover;
    margin: 0;
    text-indent: -99999rem;
}
#yt-poster.visible {
    z-index: 2;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

/* movie loaded - controls are active */
#yt-poster.active {
    background-color:#0f0;
}
/*

.ytplayerbox h1,
.ytplayerbox h2,
.ytplayerbox h3,
.ytplayerbox h4 {
    font-family: "brandon-grotesque",sans-serif;
}
.ytplayerbox h3 {
    font-size:1.2em;
    padding:1em 0;
    margin:0;
}
.ytplayerbox h4 {
    font-size:1em;
    font-weight:300;
    padding:1em 1em 0 1em;
    margin:0;
}

.ytplayerbox .video-container {
    z-index:2;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

#no-movie {
    position:relative;
    z-index:4;
}

.ytcontrols {
    position:relative;
    min-height:5em;
    margin: 0;
}
.ytcontrols p {
    position:relative;
    z-index:1;
    margin:0;
    padding:1em;
    background:#000;
}
.ytcontrols em {
    font-size:90%;
    color:#efefef;
}

#controls-panel {
    transition: all 0.66s cubic-bezier(0.63,0,0.55,1.43);
    position:relative;
    z-index:0;
    margin-top:-15em;
    background:#000;
}
#controls-panel.show {
    margin-top:0;
}

.ytplayerbuttons {
    width:100%;
    padding:1em 0;
    clear:both;
}

.ytplayerbuttons button {
    transition: all 0.28s cubic-bezier(0.4, 0, 0.2, 1);
    text-indent:-9999em;
    display: inline-block;
    position:relative;
    -webkit-appearance: none;
    vertical-align:top;
    border: none;
    margin:0.2em;
    padding:0.2em;
    cursor: pointer;
    opacity:0.8;
    width:4em;
    height:4em;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:5em;
    background-color:#fff;
    opacity:0.8;
}
.ytplayerbuttons button.icon-btn:before {
    font-size:2em;
}
.ytplayerbuttons button:hover,
.ytplayerbuttons button:focus {
     -ms-transform:scale(1.1) rotate(0.1deg);
    -moz-transform:scale(1.1) rotate(0.1deg);
    -webkit-transform:scale(1.1) rotate(0.1deg);
    transform:scale(1.1) rotate(0.1deg);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

*/
