@import 'utils';
@import 'global';
@import 'nav';
@import 'player';

header {
	position:fixed;
	z-index:999;
	height:100%;
	left:50%;
}

#start {
	position:relative;
	background:#000;
	color:#fff;
	text-align:center;

	.background-1 {
		position:absolute;
		z-index:2;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background: transparent url(/static/images/keyboard-persp.jpg) 50% 100% no-repeat;
		background-size:80% auto;
		opacity:0.8;
	}
	.background-2 {
		position:absolute;
		z-index:1;
		top:0;
		right:0;
		bottom:0;
		left:0;
		background: transparent url(/static/images/code.jpg) 50% 50% no-repeat;
		background-size:80% auto;
		opacity:0.5;
	}

	blockquote {
		z-index:3;
		width:80%;
		background-color: rgba(0,0,0,0.5);
		padding:2em 0;
		p {
			font-family: "quatro-slab",serif;
			font-size:2.4em;
			line-height:1.4;
		}
		footer {
			margin-top:1.2em;
		}
	}
}

#people {
	position:relative;
	background:#fff;
	color:#333;
	text-align:center;
	.person {
		width:600px;
		height:100%;
		border:1px solid rgba(0,0,0,0.1);
		a {
			color:#333;
		}
		.img {
			width:200px;
			height:200px;
			border-radius:200px;
			background:red;
		}
	}
}

#interests {
	position:relative;
	background:#fff;
	color:#000;
	text-align:center;
}