<!DOCTYPE html>
<html>
    <head>
        <title>empatio</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <script type="text/javascript" src="//use.typekit.net/uwf6zzp.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

			<link href="/static/css/normalize.min.css" rel="stylesheet" media="screen">
	   <link href="/static/css/empatio.css" rel="stylesheet" media="screen">

    </head>
    <body>
    	<header class="page-header container">
    		<h1 class="empatio">Empat.io</h1>
    		<p class="intro">
    			This year during EdgeConf in London Christiann Heilmann said that the web needs more empathy. This lead to a lot of discussion about what it was that the web really needs. But the whole point in his remark is not about the web and its needs but about people and what they need to experience the web. This site is about people. They will tell you what they need. And to help you a little further this site will also give you some tips about how to help people access your information. Hopefully this will all lead to more empathy on the web.
    		</p>
    	</header>
    	<section class="page-body">
    		<div class="people">
	    		<div class="human">
	    			<img src="/static/img/ben.png" class="human-img" alt="" />
	    			<h2>Ben</h2>
	    			<dl>
	    				<dt>Age</dt>
	    				<dd>72</dd>
	    				<dt>Occupation</dt>
	    				<dd>Pensionado</dd>
							<dt>Loves</dt>
							<dd>His wife and audio books</dd>
							<dt>Hates</dt>
	    				<dd>Dog poo</dd>
	    				<dt>Condition</dt>
	    				<dd>Severe macular degeneration</dd>
	    			</dl>
	    		</div>
	    		<div class="human">
	    			<img src="/static/img/dude.png" class="human-img" alt="" />
	    			<h2>Jonathan</h2>
	    			<dl>
	    				<dt>Age</dt>
	    				<dd>21</dd>
	    				<dt>Occupation</dt>
	    				<dd>Student</dd>
							<dt>Loves</dt>
							<dd>Radiohead and Arthouse movies</dd>
							<dt>Hates</dt>
	    				<dd>Fake people</dd>
	    				<dt>Condition</dt>
	    				<dd>Color blind</dd>
	    			</dl>
	    		</div>
	    		<div class="human">
	    			<img src="/static/img/clive.png" class="human-img" alt="" />
	    			<h2>Clive</h2>
	    			<dl>
	    				<dt>Age</dt>
	    				<dd>34</dd>
	    				<dt>Occupation</dt>
	    				<dd>Software engineer</dd>
							<dt>Loves</dt>
							<dd>Pizza and cola</dd>
							<dt>Hates</dt>
	    				<dd>Fake people</dd>
	    				<dt>Condition</dt>
	    				<dd>Color blind</dd>
	    			</dl>
	    		</div>
	    		<div class="human">
	    			<img src="/static/img/sue.png" class="human-img" alt="" />
	    		</div>
	    		<div class="human">
	    			<img src="/static/img/glen.png" class="human-img" alt="" />
	    		</div>
	    	</div>
    	</section>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="//code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>