<!DOCTYPE html>
<html>
    <head>
        <title>empatio</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <script type="text/javascript" src="//use.typekit.net/foz7yvo.js"></script>
			<script type="text/javascript">try{Typekit.load();}catch(e){}</script>

			<link href="/static/css/normalize.min.css" rel="stylesheet" media="screen">
	   <link href="/static/css/empatio.css" rel="stylesheet" media="screen">

    </head>
    <body>
    	<header class="page-header">
    		<h1 class="empatio">Empat.io</h1>
    	</header>
    	<section class="page-body">

	    	<div class="bg-dark show-margins">
	    		<div class="container">
	    			<blockquote>
	    				<p>Put people first. Meet the people</p>
	    			</blockquote>
	    		</div>

	    		<div class="people">
	    			<div class="people-container">
		    			<a href="" class="human transition">
		    				<div class="video">
		    					<img src="/static/img/ben.png" alt="" />
		    					<div class="temp-text transition">On hover/focus a short introduction video will start playing</div>
		    				</div>
			    			<span class="caption">Ben</span>
		    			</a>
		    			<a href="" class="human transition">
		    				<div class="video">
		    					<img src="/static/img/dude.png" alt="" />
		    					<div class="temp-text transition">On hover/focus a short introduction video will start playing</div>
		    				</div>
			    			<span class="caption">Christopher</span>
		    			</a>
		    			<a href="" class="human transition">
		    				<div class="video">
		    					<img src="/static/img/clive.png" alt="" />
		    					<div class="temp-text transition">On hover/focus a short introduction video will start playing</div>
		    				</div>
			    			<span class="caption">Clifford</span>
		    			</a>
		    			<a href="" class="human transition">
		    				<div class="video">
		    					<img src="/static/img/sue.png" alt="" />
		    					<div class="temp-text transition">On hover/focus a short introduction video will start playing</div>
		    				</div>
			    			<span class="caption">Sue</span>
		    			</a>
		    			<a href="" class="human transition">
		    				<div class="video">
		    					<img src="/static/img/glen.png" alt="" />
		    					<div class="temp-text transition">On hover/focus a short introduction video will start playing</div>
		    				</div>
			    			<span class="caption">Glen</span>
		    			</a>
		    		</div>
	    		</div>
	    	</div>

	  		<div class="container">
	  			<blockquote>
	  				<p>You can get 80-90% of the way accessible by testing everything with a keyboard and dealing with good, solid semantic markup.</p>
	  				<footer>Derek Featherstone</footer>
	  			</blockquote>
	  		</div>

	  		<div class="checklists container clear">
	  			<div class="list">
	  				<h2>Design</h2>
	  				<p>When designing think</p>
		  			<ol>
		  				<li><a href="">Content First</a></li>
		  				<li><a href="">Responsive</a></li>
		  				<li><a href="">Another best practice</a></li>
		  			</ol>
	  			</div>
	  			<div class="list">
	  				<h2>Develop</h2>
		  			<p>When developing do</p>
		  			<ol>
		  				<li><a href="">Semantic HTML</a></li>
		  				<li><a href="">Test with a keyboard</a></li>
		  				<li><a href="">WAI-ARIA</a></li>
		  			</ol>
	  			</div>
	  		</div>
    		
    	</section>
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="//code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>