* {
	box-sizing: border-box;
}

html, body {
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	background:#222;
	color:#efefef;
}
body {
	font-family: "brandon-grotesque",sans-serif;
	font-weight:300;
}

.container {
	/*max-width:980px;
	margin:0 auto;*/
}

.page-header{
	padding:0;
	margin:1em 0;
	position:relative;
}
h1.empatio {
	position:absolute;
	top:50%;
	left:0;
	-o-transform: translate3d(0,-50%,0);
	-ms-transform: translate3d(0,-50%,0);
	-moz-transform: translate3d(0,-50%,0);
	-webkit-transform: translate3d(0,-50%,0);
	transform: translate3d(0,-50%,0);
	font-family: "corner-store";
	font-weight:normal;
	font-size:3.6em;
	color:#ffa;
	width:320px;
	padding:0;
	margin:0;
	text-align:center;
}
p.intro {
	color:#ffe;
	display:inline-block;
	padding:0 1em 0 320px;
	max-width:960px;
}

.page-body {

}

.people {

}
.people .human {
	position:relative;
	min-height:300px;
	padding-left:320px;
	overflow:hidden;
}
.people .human:nth-child(odd) {
   background-color: rgba(255,255,255,0.1);
}

.human-img {
	position:absolute;
	top:20px;
	left:20px;
	width:300px;
}

.human dt, dd {
	float:left;
}
.human dt {
	clear:left;
	width:4em;
}
.human dd {
	font-weight: 100;
}

.page-footer {

}