  .ytplayerbuttons .button-play-pause {
      display: inline-block;
      -webkit-appearance: none;
      border: none;
      cursor: pointer;
    }
  .ytplayerbuttons .button-play-pause:after {
        content: '►';
        font-size: 30px;
        text-indent: 5px;
        text-align: center;
        display: inline-block;
        width: 100%;
      }
  .playing .ytplayerbuttons .button-play-pause:after {
      content: '◼︎';
      text-indent: 0;
      font-size: 35px;
      vertical-align: bottom;
      margin-top: 2px;
    }